body {
    font-family: 'Poppins', sans-serif;
  }
  
  .navbar .nav-link {
    font-weight: 500;
  }
  
  .logo {
    height: 40px;
  }
  
  section h2 {
    font-weight: 700;
    color: #ffa300;
  }
  
  .btn-warning {
    background-color: #ffa300;
    border: 15px;
  }
  
  .btn-warning:hover {
    background-color: #e59400;
    border-radius: 15px;
  }
  